.card {
  margin: auto;
  background: cornsilk;
  width: 450px;
  padding: 1rem;
  margin: 10px;
}

.card_image {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.card_image1 {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: rgb(119, 116, 103);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornsilk;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.box {
    width: 10%;
    border: black;
    border-width: 20px;
    background-color: grey;
    padding: 10px;
    margin: 10px;
  }

h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
}

h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
}

.important {
  color: blue;
}

.float {
  float: center;
}

li {
  font-style: italic;
  font-family: fantasy;
}